// src/theme.scss
:root {
    --primary-color: #88094f;
    --font-family: Arial, sans-serif;
    --background-gradient: linear-gradient(356deg,rgb(109, 77, 77) 0%, rgba(240,247,246,1) 68%, rgba(255,255,255,1) 100%);
    --container-height: 100vh;
  }
  
